@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
	background: #dedede;
}
.contenedor{
	width: 350px;
	height: 600px;
	border: 1px solid black;
	margin: 0 auto;
	background: white;
	position: relative;
}

.img1{
	margin:0 auto;
	display: block;
}

.img2{
	  	position: absolute;
		width: 12px;
		height: 12px;
		right: calc(50% - 12px/2 - 38px);
		top: 521px;
	
}
.img3{
	position: absolute;
	width: 38px;
	height: 12px;
	left: calc(50% - 38px/2 - 6px);
	top: 521px;

	background: #5F2074;
	border-radius: 50px;

}
.img4{
  	position: absolute;
	width: 12px;
	height: 12px;
	left: calc(50% - 12px/2 - 38px);
	top: 521px;


}
.img5{
	position: absolute;
	width: 52px;
	height: 52px;
	right: 16px;
	top: 501px;

	
	

}
.img6{
    position: absolute;
	width: 16px;
	height: 16px;
	right: 30px;
	top: 515px;
	

	
	border-radius: 1px;
	

}

	
h1 {
	text-align: center;
	font-family: 'Raleway';
	margin-top: -50px;
   
}
h4 {

	font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #A3A7BA;
}
h3{

    position: absolute;
	width: 33px;
	height: 19px;
	left: 35px;
	top: 499px;

	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;

	/* Gris1 */


}

.mover {
	 position: absolute;
	top: 50px;
	left: 100px;
}
